@page
@model tareaBases2.Pages.Project.Employees.DetailsModel
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Detalles del empleado</h2>

        <form method="POST">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Identificación</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="identificacion" value="@Model.infoEmpleyee.Identificacion" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombre" value="@Model.infoEmpleyee.Nombre" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Puesto</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombre" value="@Model.infoJobs.NombrePuesto" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Saldo vacaciones</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="saldoVacaciones" value="@Model.infoEmpleyee.SaldoVaciones" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-3 d-grid">
                    <a class="btn btn-outline-primary" href="/Project/Employees/Index" role="button">Regresar</a>
                </div>
            </div>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
