<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <script>
            function cerrarVentana() {
                window.close();
            }
        </script>
    </div>
</body>
</html>
